#chatRoomPage {
  margin-left: 10%;
  margin-right: 50%;
  border: 1px solid gray;
}
.chatContainer {
  margin-top: 10px;
  padding: 5px;
}
.footer {
  margin-top: 10px;
}
.messageHeader {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: -2px;
  margin-left: 10px;
  font-size: 14px;
  color: gray;
}
