.nav {
  margin: 0 auto;
  padding: 0;
  width: 75%;
  background-color: blue;
}

.nav li a {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}
